@media (max-device-width: 350px){
  .navflexBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-device-width: 750px){
  .accountform {
    max-width: 700px;
    min-height: 230px;
  }
}

@media (min-device-width: 515px){
  .teamform {
    min-height: 345px;
    min-width: 450px;
  }
}

@media (min-device-width: 800px){
  .creationform{
    min-height: 345px;
  }
}

html {
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: rgb(120, 120, 221);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

nav {
  background-color: rgb(179, 179, 179);
}

footer {
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

p{
  word-break:normal;
  word-wrap:break-word;
  white-space: pre-wrap;
}

.TeamAbrLabel {
  font-size: 1.5em;
  font-weight: bold;
}

.TeamNameLabel {
  font-size: 1.17em;
  font-weight: bold;
}

.CaptainLabel {
  font-weight: bold;
}

.redletter {
  color: red;
}

button {
  margin: 5px;
}

.flexBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navflexBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex {
  flex: 1;
  align-items: center;
  min-width: 215px;
  min-height: 180px;
}

.teamflex {
  flex: 1;
  align-items: center;
}

.member {
  flex-wrap: wrap;
}

nav {
  padding: 10px;
  align-content: center;
}

.navFlex {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.border {
  border: solid 1px black;
  padding: 10px;
  padding-top: 20px;
  margin: 20px;
  margin-top: 10px;
  border-radius: 30px;
}

.form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
}

